table {
  background-color: whitesmoke;
  border-collapse: collapse;
  border-color: transparent;
  box-shadow: 1px 1px lightgray;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: ivory}

th {
  background-color: darkslateblue;
  color: white;
}

.btn {
  background-color: rgb(237,67,55);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: 30px;
}

.btn:hover {
  background-color: rgb(194,63,56);
}

.delete-form {
  text-align: center;
  padding: 4px;
}