textarea {
  min-height: 200px;
  width: 80%;
}

.content-container {
  display: flex;
}

.main-container {
  background-color: white;
  max-width: 800px;
  margin: 100px auto;
  padding: 60px;
}

.preview {
  border: 1px solid grey;
  overflow-wrap: break-word;
  padding: 8px;
}

.preview, .editor-container {
  width: 50%;
}

input {
  height: 24px;
  width: 50%;
}

label {
  margin-right: 8px;
  margin-bottom: 10px; 
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  background-color: #404552;
  height: 34px;
}

.cancel-btn {
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  background-color:gray;
  height: 34px;
  margin-right: 8px;
}


.review-title, .review-content {
  margin-bottom: 12px;
}