.main-container {
  background-color: white;
  max-width: 600px;
  margin: 100px auto;
  padding: 60px;
}

.delete-btn {
  background-color: rgb(237,67,55);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: 34px;
  width: 68px;
}

.delete-btn:hover {
  background-color: rgb(194,63,56);
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn {
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  background-color: #404552;
  height: 34px;
  width: 64px;
}

.actions {
  display: flex;
}