.main-container {
  padding: 24px;
}

.delete-btn {
  background-color: rgb(237,67,55);
  border-radius: 4px;
  color: white;
  cursor: pointer;
  height: 42px;
  width: 68px;
}

.delete-btn:hover {
  background-color: rgb(194,63,56);
}

.sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-btn:hover {
  background-color: lavender;
}

.edit-btn {
  background-color: transparent;
  border-color: darkslateblue;
  border-radius: 4px;
  border-width: medium;
  cursor: pointer;
  height: 42px;
  margin-right: 8px;
  width: 68px;
}

.actions {
  display: flex;
}