h1 {
  margin-bottom: 0;
}

input {
  height: 24px;
  width: 50%;
}

label {
  margin-right: 8px;
}

.btn {
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  background-color: #404552;
  height: 34px;
}

.card {
  background-color: white;
  max-width: 600px;
  margin: 100px auto;
  padding: 60px;
}

.container {
  margin: auto;
  max-width: 600px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}