doctype html
html
  head
    link(rel='icon' href='/images/logo/profile.png')
    style
      include ../styles/style.css
  body
    h1 401: Hey. You're not allowed to do that. Maybe one day. But not today.