html
  head
    title #{title}
    style
      include ../styles/create-review.css
      include ../styles/style.css
  body
    include header.pug
    div(class="main-container")
      h1 Add a Review for #{country}
      div(class="content-container")
        div(class="editor-container")
            textarea(id="editor")
        div(class="preview" id="preview")
    script
      include ../view_scripts/create-review.js
