header
  a(href="/")
    button(type="button" class="header-btn") Home
  if currUser
    a(href=`/profile/${currUser}`)
      button(type="button" class="header-btn") Profile
    a(href="/login/logout")
      button(type="button") Logout
  else
    a(href="/login")
      button(type="button") Login
    a(href="/signup")
      button(type="button") Sign up
