header
  if username
    a(href=`/profile/${username}`)
      button(type="button" class="header-btn") Profile
  else
    a(href="/login")
      button(type="button") Login
    a(href="/signup")
      button(type="button") Sign up