doctype html
html
  head
    title #{title}
    style
      include ../styles/style.css
      include ../styles/index.css

  body
    include header.pug
    div(class="container")
        div(class="card")
            h1 #{message}
            form(method='POST' class='form-group' action='/search')
              input(class='form-control' type='text' id='searchInput' placeholder='Search for a country or destination' name='search')
              button(type='submit' class='btn-submit') Search
