doctype html
html
  head
    title #{title}
    style
      include ../styles/style.css
      include ../styles/index.css

<<<<<<< HEAD
a(href="login")
  button(type="button") login

a(href="signup")
  button(type="button") sign up
=======
  body
    div(class="container")
        div(class="card")
            h1 #{message}
            div
                a(href="login")
                    button(type="button" class="btn") Log in
                a(href="signup")
                    button(type="button" class="btn") Sign up
>>>>>>> fa15209cc50c3e203c0c8a50898f1efd1788b81a
