doctype html
html
  head
    title #{title}
    style
      include ../styles/style.css
      include ../styles/index.css

  body
    include header.pug
    div(class="container")
        div(class="card")
            h1 #{message}
            form(method='POST' action='/')
              div.form-group
                input.form-control(type='text' id='country' placeholder='Search for a country' name='country')
              
