doctype html
html(lang="en")
  head
    title=login
    link(rel='icon' href='/images/logo/profile.png')
    style
      include ../styles/style.css
      include ../styles/login.css
  body
    include header.pug
    div(class="container")
        div(class="card")
          h1 Log in
          form(method='POST' action='/login')
            div.form-group
              label(for='username') Username
              input.form-control(type='text' id='username' placeholder='username' name='username')
            button(type='submit' class='btn') Log in
