doctype html
html
  head
    title #{title}
    style
      include ../styles/review.css
      include ../styles/style.css
  body
    include header.pug
    div(class="main-container")
      div(class="sub-header")
        h1 #{title}
        if reviewCreator
          form(method='POST' action='/review/delete/' + _id)
            button(class="delete-btn") Delete Review
      div
        | !{reviewHtml}
