doctype html
html(lang="en")
  head
    title=signup
    style
      include ../styles/style.css
      include ../styles/signup.css
  body
    include header.pug
    div(class="container")
      div(class="card")
        h1 Sign up
        form(method='POST' action='/signup')
          div.form-group
            label(for='firstname') First name
            input.form-control(type='text' id='firstname' placeholder='first name' name='firstname')
          div.form-group
            label(for='lastname') Last name
            input.form-control(type='text' id='lastname' placeholder='last name' name='lastname')
          div.form-group
            label(for='username') Username
            input.form-control(type='text' id='username' placeholder='username' name='username')
          div.form-group
            label(for='email') Email
            input.form-control(type='email' id='email' placeholder='email' name='email')
          button(type='submit' class="btn") Create Account
