doctype html
html(lang="en")
  head
    title=signup
    style
      include ../styles/style.css
      include ../styles/signup.css
  body
    div(class="container")
      div(class="card")
        h1 Sign up
        form(method='POST' action='/signup')
          div.form-group
            label(for='name') Name
            input.form-control(type='text' id='name' placeholder='first and last' name='name')
          div.form-group
            label(for='username') Username
            input.form-control(type='text' id='username' placeholder='username' name='username')
          div.form-group
            label(for='password') Password
            input.form-control(type='password' id='password-create1' placeholder='password' name='password')
          div.form-group
            label(for='password') Confirm Password
            input.form-control(type='password' id='password-create2' placeholder='password' name='password')
          button(type='submit' class="btn") Create Account 
